<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Workflow Details</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="display-5 fw-bold m-0">Workflow</h1>
                </div>

                <div class="col-6">
                    <a th:href="@{/mail/{mailId}/workflow/{workflowId}/create(workflowId=${workflowId}, mailId=${mailId})}"
                       class="btn btn-outline-primary btn-sm float-right"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add Email</a>
                </div>
                <div th:replace="layout/alert::alert" th:remove="tag"></div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <table id="workflow" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Mail</th>
                        <th>Status</th>
                        <th>Date and time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:unless="${#lists.isEmpty(workflow.mails)}" th:each="mail: ${workflow.mails}">
                            <td th:text="${mail.id}">1</td>
                            <td th:text="${mail.subject}"></td>
                            <td th:text="${mail.status.name}"> </td>
                            <td th:text="${#dates.format(mail.sentAt, 'yyyy-MM-dd hh:mm a')}"> </td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="#">Edit</a>
                                <a class="btn btn-sm btn-success" href="#">View</a>
                                <a href="#" class="btn btn-sm btn-danger">Delete</a>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>
