.tooltip {
    position: absolute;
    background: #646464;
    border-radius:4px;
    padding: 6px 12px;
    font-family: arial;
    font-size: 12px;
    text-shadow: 0px 1px 1px #000;
    color: #ffc64a;
  }
  .tooltip:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #646464;
    position:absolute;
    bottom:-5px;
    left:5px;
  }

.sideborder{
    content: "";
    border-left-color: #d7dce3;
    border-left-width: thin;
    border-left-style: solid;
    top: 0px;
    position: absolute;
    height: 100%;
}

.sideborder li:before{
    content: "";
    border: 1px solid #d7dce3;
    width: 15px;
    position: absolute;
    top: 18px;
}

.sideborder {
    margin-left: 25px;
}

.yellow{
    color:#f5b400 !important;
}