<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Create Email Templates</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Forms generator</h1>
                    <form  th:object="${generator}"
                           method="POST"
                           th:action="@{/generator}"  enctype="multipart/form-data">
                    <h5>Html header </h5>
                        <textarea type="text" th:name="htmlHeader"  class="form-control form-control-sm" ></textarea>
                    <h5>Thymeleaf  Template Folder </h5>
                    <input type="text" th:name="thymeleafTemplateFolder" class="form-control form-control-sm" >
                    <h5>Exel path </h5>
                    <input type="text" th:name="pathForExel" class="form-control form-control-sm" >
                        <h5>controller name </h5>
                        <input type="text" th:name="controllerName"  class="form-control form-control-sm" >

                        <h5>controller url</h5>
                    <input  th:name="controllerUrl" type="text" class="form-control form-control-sm" >
                    <h5>method name</h5>
                    <input type="text" th:name="methodName2" class="form-control form-control-sm" >
                    <h5>method name</h5>
                    <input type="text" th:name="methodName" class="form-control form-control-sm" >
                    <h5>method url</h5>
                    <input type="text" th:name="methodUrl" class="form-control form-control-sm" >
                    <h5>entity name</h5>
                    <input type="text" th:name="entityName" class="form-control form-control-sm" >
                    <h5>entity table name</h5>
                    <input type="text" th:name="entityTableName" class="form-control form-control-sm" >
                        <h5>Database Name</h5>
                    <input type="text" th:name="databaseName" class="form-control form-control-sm" >
                        <h5>databasePassword</h5>
                    <input type="text" th:name="databasePassword" class="form-control form-control-sm" >
                        <h5>databaseUsername</h5>
                    <input type="text" th:name="databaseUsername" class="form-control form-control-sm" >
                        <h5>ServerPort</h5>
                    <input type="text" th:name="serverPort" class="form-control form-control-sm" >
                        <label class="upload" for="uploadExel">Upload exel</label>
                    <input id="uploadExel"  th:name="file"  type="file"  hidden>
                        <label class="upload" for="uploadZip">Upload Zip</label>
                    <input  id="uploadZip" th:name="zip"  type="file"  hidden><br>
                    <button class="btn customer-btn">Finish</button>
                    </form>
                    <br>
                    <br>
                    <br>
                    <h1>Download ZIP</h1>
                    <a th:href="@{/generator/download}">Download</a>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
